@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Academy Filled 3D Font */
@font-face {
  font-family: "MAUS";
  src: url("/maus/Maus Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Octin College Font - Regular */
@font-face {
  font-family: "Octin College";
  src: url("/octin_college_free/Octin College Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  max-width: 100vw;
  overflow-x: hidden;
}

.break-words {
  overflow-wrap: break-word; /* Prevents overflow */
  word-wrap: break-word; /* Legacy support */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; /* Enable hyphenation */
  word-break: normal; /* Reset word-break to allow hyphenation */
}

.hyphens-auto {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: normal; /* Standard word breaking */
  overflow-wrap: break-word; /* Prevents overflow only if needed */
}

@font-face {
  font-family: "Coolvetica";
  src: url("/Coolvetica-Font/Coolvetica-Font/WOFF2/Coolvetica-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica";
  src: url("/Coolvetica-Font/Coolvetica-Font/WOFF2/Coolvetica-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply Octin College to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Octin College', sans-serif; */
  font-family: "Academy Filled 3D", sans-serif;
}

/* Use Bold weight for main headings */
h1,
h2,
h3 {
  font-weight: bold;
}

/* Use Regular weight for subheadings */
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  margin: 0;
  padding:0;
  max-width: 100vw;
  overflow-x: clip;
}

#root {
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .wrapper {
    @apply max-w-[90rem] px-4 sm:px-6 lg:px-8 mx-auto;
  }
  .coolvetica {
    font-family: "Coolvetica", sans-serif;
  }
}
